

body{

    background-image: url("../images/background.png");
    background-attachment: fixed;
    
}


.title{

    text-align: center;
    padding: 50px;
    font-size: 24pt;
    text-shadow: 3px 3px #999999;
    font-family:Tahoma, Verdana, Geneva,  sans-serif;
}

 .main{
    border-color: #b9b5b5;
    border-style: solid;
    border-width: 4px;
    height: 1100px;
    width: 910px;
    margin: auto;
    border-radius: 25px 25px 25px 25px;
    

 }
 .form{
     position: relative;
     left: 150px;
 }

 .billing {
    display: inline-block;
    width: 300px;
    height: 200px;
 }
  .personal{

  }
 
  .shipping {
    display: inline-block;
  }
 
  .validator{
      position: fixed;
      right: 0px;
      bottom: 0px;
  }

  .fieldPay{
      display: inline-block;
  }

  button{

    font-size: 30px;
    position: relative;
    left: 300px;
    border-radius: 1px 1px 1px 1px;
   
    display: inline-block;

    display: inline-block;
   
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
   
    background-color: rgb(164, 170, 164);
    border: none;
    border-radius: 105px;
   
  }


  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #21af21;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}