.victoria{
	border-color: red;
	border-width: 5px;
	border-style: solid
	
}

#first{
	border-color:orange;
	border-width: 5px;
	border-style: solid
}

.whole{

border-color: green;
	border-width: 5px;
	border-style: solid

}

.part1{

	border-color:blue;
		border-width: 5px;
		border-style: solid
	
	}

	.part2{

		border-color:blue;
			border-width: 5px;
			border-style: solid
		
		}

		


		#second{
		  
			border-color:rgb(90, 44, 143);
			border-width: 5px;
			border-style: solid
		

		}



		#third{
		  
			border-color:rgb(90, 44, 143);
			border-width: 5px;
			border-style: solid
		

		}