body {
   background-color:  #CCCCFF;
   font-size: 14pt;
}

h1{

    font-size: 32pt;
    font-weight: bold;
    margin-bottom: 0px;
}

#textArea{
    width: 90%;
    height: 400px;
    font: 12pt bold ;

}

.field{

    display: inline-block

}


.controls{

    margin: auto;
    text-align: center;
}